body {
  background-color: #f0f2f5;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.game-container {
  max-width: 400px;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 15px;
}

.game-container:hover {
  transform: translateY(-5px);
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  color: #555;
  font-size: 18px;
  margin: 10px 0;
}

input[type="number"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: border-color 0.3s;
}

input[type="number"]:focus {
  outline: none;
  border-color: #7f5af0;
}

button {
  background-color: #7f5af0;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #5436b3;
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

p {
  color: #444;
  font-size: 16px;
  margin: 15px 0;
}

.confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.logout{
  text-decoration: none;
  color: rgb(228, 53, 53);
  font-weight: bold;
}